/* remove all default spacing */
html, body {
  margin: 0;
  padding: 0;
  background-color: #393e46;
}

/* header */
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 99%;
  height: 60px;
  text-align: left;
  padding: 0 15px;
  justify-content: space-between; 
  align-items: center;
  background: #222831;
  border-bottom: 1px solid #bd9523;
  display: flex;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px; /* space between MenuTabs and Menu */
}


.Title {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    color: #ffffff
}


